# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

*.class
*.war
*.ear
*.log
*.iml
*.ipr
*.iws

.DS_Store
.classpath
.project
.idea
.gradle

target/
build/
notes/

out
test-output

hs_err_pid*

